<!DOCTYPE html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300' rel='stylesheet' type='text/css'>
	<link type="text/css" href="custom.css" rel="stylesheet">
  <script type="text/javascript" src="application.js"></script>
    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70417873-1', 'secret-caverns-5811.herokuapp.com');
      ga('send', 'pageview');
    </script>
    <style>
    .bmenu li{display:none;}
    .bmenu {z-index:100;}
    .bmenu img {margin-left:30%;margin-top:5px;}
    @media screen and (max-width:1100px){.bmenu img{display:block;margin-left:80%;}}
    .sidebar {display:none;}    
      </style>
      <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%
  meta title: "TEW Marketing for Churches",
       description: "Offering Free Tools for Local Ministries",
        keywords: %w()
  %>
  <%
  meta og: {
    image: "http://tewmarketing.com/assets/church-background.png",
    title: "Offering Free Tools for Local Ministries",
    description: "Know of a Church in need of a New Website? Our Desire is to Help Local Ministries by Offering Free Services to Better Reach their Communities"
  }
  %>
  <!-- Twitter-->
  <%
  meta twitter: {
    card: "summary",
    site: "@tewmarketing",
    title: "TEW Marketing for Churches",
    description: "Offering Free Tools for Local Ministries."
  }
  %>      
</head>
<body class="churches">
  <% cache(action_suffix: "churches") do %>
  <!-- Beginning slides -->
  <div id="churches-start">
    <p>Professionally Represent Your Church to the Community</p>
    <hr>
  </div>
<script>
setTimeout(function() {
    $('#churches-start').fadeOut('slow');
}, 5000);
</script>
<script>
setTimeout(function() {
    $('#churches-start2').fadeIn('slow');
}, 5300);
</script>  
  <div id="churches-start2">
    <p>Communicate with Potential Visitors and Provide Resources to Your Members</p>
    <hr>
  </div>
<script>
setTimeout(function() {
    $('#churches-start2').fadeOut('slow');
}, 10300);
</script>
<script>
setTimeout(function() {
    $('#churches-start3').fadeIn('slow');
}, 10600);
</script>  
  <div id="churches-start3">
    <p>Reach Your Community on-the-go with a Responsive Mobile Site</p>
    <hr>
  </div>
<script>
setTimeout(function() {
    $('#churches-start3').fadeOut('slow');
}, 15600);
</script>  
<script>
setTimeout(function() {
    $('#churches-start4').fadeIn('slow');
}, 15900);
</script>  
  <div id="churches-start4">
    <p>Let us Serve YOU</p>
    <hr>
  </div>
<script>
setTimeout(function() {
    $('#churches-start4').fadeOut('slow');
}, 20900);
</script> 
<!-- end beginning slides -->
  <div class="churches-body">
    <img src="/assets/TEW-ministries.png" class="churches-logo">
<script>
    setTimeout(function() {
    $('#slider').fadeIn('slow');
}, 22000);
</script>  
        <div id="slider">
          <figure>
            <img src="/assets/responsive-example.png" alt="">
            <img src="/assets/congregation.png" alt="">
            <img src="/assets/people-city.png" alt="">
            <img src="/assets/tithing.png" alt="">
            <img src="/assets/earbuds.png" alt="">
          </figure>
        </div>
<script>
    setTimeout(function() {
    $('.churches-item1').fadeIn('slow');
}, 23000);
</script>
<script>
    setTimeout(function() {
    $('.churches-item2').fadeIn('slow');
}, 23000);
</script>
<script>
    setTimeout(function() {
    $('.churches-item3').fadeIn('slow');
}, 23000);
</script> 
<script>
    setTimeout(function() {
    $('.churches-item4').fadeIn('slow');
}, 23000);
</script>
<script>
    setTimeout(function() {
    $('.churches-item5').fadeIn('slow');
}, 23000);
</script>              
    <div class="churches-item1">
      <h2>Mission:</h2>
      <hr> 
      <p>To Provide Free Website Building and Community Reaching Tools that will help Local Churches Reach their Communities with the Gospel of Jesus.</p>
      <br>
      <br>
    </div>
    <div class="churches-item2">
      <h2>How This Works:</h2> 
      <hr>
      <p>Answer: However it best serves you! We would like to get to know you and your ministry to be sure that we are providing the best services for you. Meeting with you would be ideal but if the distance is too great we can just converse remotely. If your current website just needs updating we could also help with that or perhaps you would just like a crash course in social media strategy. We would like to use our skills to encourage your ministry.</p>
    </div>
    <div class="churches-item2" id="possibilities">
      <h2>Possibilities:</h2> 
      <hr>
      <p>These are some specific things we could provide:</p>
      <p>Logo</p>
      <p>Designs / Literature</p>
      <p>Interactive Calendars</p>
      <p>Staff Profiles</p>
      <p>Blog</p>
      <p>Ministries</p>
      <p>Upload Sermons that can be downloaded from or listened to online</p>
      <p>eGiving</p>
      <p>Upload Resources to be viewed</p>
      <p>Login only pages</p>
      <p>Email Accounts</p>
    </div>
    <div class="churches-item2">
      <h2>Testimony:</h2>
      <hr> 
      <p>Tyler was born in a Christian home and attended Trinity Christian School in Concord, NH from Kindergarten through high school. He then received a Bachelor's degree in Marketing from Bob Jones University in Greenville, SC in 2010. He, along with his wife, Elaine, and 2 young children live in Annapolis, MD. After being laid off, the Lord laid the desire on Tyler's heart to use his given talents in service to him by ministering to local churches. For now, the focus will be mainly on website creation but we pray that the Lord may grow this ministry.</p>
    </div>
    <div class="churches-item2">
      <h2>Example Site:</h2>
      <hr> 
      <p>See this site as simply one example of what we can offer.</p>
      <a href="http://yourchurch.herokuapp.com"><img src="/assets/church-website-example.png"></a>
      <br><br>
    </div>
    <div class="churches-item3">
      <h2>Help Us To Serve:</h2> 
      <hr>
      <p>Please consider donating to this ministry to help us be able to continue offering these services.</p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="K3KBZ43K3YBQ4">
      <input type="image" src="/assets/donate-button.png" class="donate-image" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>
    </div>
    <div class="churches-item4"> 
      <%= form_for @contact do |f| %>
      <h2>Please Contact Us</h2>
      <hr>
      <p>Are you a church or do you know of one that could use our help? Please let us know below so we can help!</p>
        <div class="form-group">
          <%= f.text_field :name, :placeholder => "name", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, :placeholder => "email", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.text_area :comments, :placeholder => "comments", class: 'form-control', id: "comments" %>
        </div>
        <%= f.submit 'Submit', class: 'churches-submit' %>
      <% end %>
      <br><br>
    </div>      
    <div class="churches-item5">
      <h2>Help Us to Spread the Word!</h2>
      <hr>
      <!-- Twitter -->
      <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.tewmarketing.com%2Fpages%2Fchurches" title="Share on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
       <!-- Facebook -->
      <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.tewmarketing.com%2Fpages%2Fchurches" title="Share on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <!-- Google+ -->
      <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.tewmarketing.com%2Fpages%2Fchurches" title="Share on Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
      <!-- StumbleUpon -->
      <a href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fwww.tewmarketing.com%2Fpages%2Fchurches" title="Share on StumbleUpon" target="_blank" data-placement="top"><i class="fa fa-stumbleupon"></i></a>
      <!-- LinkedIn --> 
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.tewmarketing.com/pages/churches" title="Share on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a> 
          <!-- Pinterest -->
        <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
          <i class="fa fa-pinterest"></i></a>
          <!-- Email -->
        <a href="mailto:?Subject=TEW Marketing&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.tewmarketing.com">
          <i class="fa fa-envelope"></i>
        </a>
        <br><br>
    </div>   
<% end %>







</body>
</html>


