<!doctype html>
<head>
  <link type="text/css" href="custom.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  </head>
<body class="contacts-background">
    <ul class="contact-us" id="contact-us-pic">
      <li class="contact-us-item"> 
        <div>
        <p><h2>Every day there are <i>thousands</i> of new businesses looking to edge you out of the market.</h2>
        <h2> Don't worry, it's our job to move you to the front. While working with us, you will be allowed to focus on channeling your energies behind your passion, <i>your company,</i> and let us handle the rest.</h2>
        </div>
        </li>             
        <li class="contact-us-item">
            <div class="well"> Please let us know how we can help you!
              <%= form_for @contact do |f| %>
                <div class="form-group">
                  <%= f.text_field :name, :placeholder => "name", class: 'form-control' %>
                </div>
                <div class="bar">
                  <i></i>
                </div>
                <div class="form-group">
                  <%= f.email_field :email, :placeholder => "email", class: 'form-control' %>
                </div>
                <div class="bar">
                  <i></i>
                </div>
                <div class="form-group">
                  <%= f.text_area :comments, :placeholder => "comments", class: 'form-control', id: "comments" %>
                </div>
                <div class="bar">
                  <i></i>
                </div>
                <%= f.submit 'Submit', class: 'btn btn-default' %>
              <% end %>
            </div>
        </li>
    </ul>
    <div class="footer">

    </div>
    </body>
</html>