<!doctype html>
<head>
  <link type="text/css" href="custom.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70417873-1', 'secret-caverns-5811.herokuapp.com');
      ga('send', 'pageview');
    </script>
    <!--Analytics end-->
  </head>
<body class="contacts-background">
    <div class="contact-us">
      <div class="left"> 
        <h1>Every day, there are hundreds of new businesses looking to edge you out of the market. <span style="color: #9A3334">Don't worry, it's our job to move you to the front.</span> While working with us, you will be allowed to focus on channeling your energies behind your passion, <span style="color: #9A3334">your business, </span>and let us handle the rest. Please fill out the form to the right and let us know how we can help!</h1>
      </div>
      <% cache(action_suffix: "contact") do %>
      <div class="right">
          <div class="well"> 
            <img src="/assets/TEW-YOU.png" class="contact-image">
            <%= form_for @contact do |f| %>
              <div class="form-group">
                <%= f.text_field :name, :placeholder => "name", class: 'form-control' %>
              </div>
              <div class="bar">
                <i></i>
              </div>
              <div class="form-group">
                <%= f.email_field :email, :placeholder => "email", class: 'form-control' %>
              </div>
              <div class="bar">
                <i></i>
              </div>
              <div class="form-group">
                <%= f.text_area :comments, :placeholder => "comments", class: 'form-control', id: "comments" %>
              </div>
              <div class="bar">
                <i></i>
              </div>
              <%= f.submit 'Submit', class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
        <% end %>
    </div>
    </body>
</html>