<body class="blog">

<p id="notice"><%= notice %></p>
  <div class="blogposts">
    <h1>Recent Articles</h1>
    <table>
      <tbody class="postseach">
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to 'Read', post %></td>
            <td><%= post.title %></td>
            <div class="hide">
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<br>
</body>