<head>
	<link type="text/css" href="custom.css" rel="stylesheet">
</head>

<body class="blog">

	<p id="notice"><%= notice %></p>
	<div class="blogposts">
		<div class="title">
		  <%= @post.title %>
		</div>

		<div class="postbody">
		  <%= @post.body %>
		</div>

		<div>
		  <strong>Author:</strong>
		  <%= @post.author %>
		</div>
	</div>

	<%= link_to 'Back', posts_path %>
</body>