<!DOCTYPE html>
<html>
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
<head>
  <title>Tewmarketing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Navbar-->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Blur Menu with CSS3 Transitions" />
        <meta name="keywords" content="css3, transitions, menu, blur, navigation, typography, font, letters, text-shadow" />
        <meta name="author" content="Codrops" />
        <link rel="stylesheet" type="text/css" href="css/style1.css" />
		<!--[if IE]>
			<link rel="stylesheet" type="text/css" href="css/styleIE.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css' />
        <link type="text/css" href="custom.css.scss" rel="stylesheet">
        <link type="text/css" href="application.css.scss" rel="stylesheet">
</head>
<body>
  <% cache(action_suffix: "application") do %>
        <div class="container">
            <div class="content">
                <ul class="bmenu">
                    <img src ="/assets/TEWlogo5.png" class="navbar-img">
                    <li>
                    	<%= link_to "Home", root_path %>
                    </li>
                    <li>
                    	<%= link_to "About Us", :controller => "pages", :action => "about" %>
                    </li>
                    <li>
                    	<%= link_to "Services", :controller => "pages", :action => "services" %>
                    </li>
                    <li>
                    	<%= link_to "Contact Us", new_contact_path %>
                    </li>
                    <li>
                        <%= link_to "Blog", :controller => "pages", :action => "blog" %>
                    </li>

                </ul>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<div>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>

<%= yield %>
<% end %>

    <div class="sidebar">
      <ul class="ul-sidebar">
        <li class="sidebar-items">
          <a href="https://www.facebook.com/TEW-Marketing-152821168096274/?ref=aymt_homepage_panel" class="fa fa-facebook-square fa-2x"></a>
        </li>
        <li class="sidebar-items">
          <a href="https://twitter.com/TEWMarketing" class="fa fa-twitter fa-2x"></a>
        </li>
        <li class="sidebar-items">
          <a href="https://www.instagram.com/tyler.tewmarketing/" class="fa fa-instagram fa-2x"></a>
        </li>
        <li class="sidebar-items">
          <a href="https://plus.google.com/u/0/111237182344221797240/posts" class="fa fa-google-plus fa-2x"></a>
        </li>
      </ul>
    </div>
    <div class="footer">
      <i class= "fa fa-copyright"></i> Copyright 2015 TEW Marketing.
    </div>
</div>
</body>
</html>
